@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome to How-To-Do Dictionary!</h1>
<hr>
<br>
<p>This platform allows users to sign up and contribute their own "How-To" guides. Whether you're looking to share your expertise or learn something new, you can create and submit detailed step-by-step instructions on various topics.</p>

<p>While you can browse and read all the available guides without signing up, you will need to create an account to submit your own "How-To" guides. It's the perfect place for learning, sharing knowledge, and growing together!</p>
<br>
<a href="/user">User index</a> <a href="/entry">Entry index</a>
<hr>